.venv/
bin/
lib/
lib64/
include/
pyvenv.cfg
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
*.log
databases/sandbox/
databases/sandbox/*.db
databases/library.db
databases/pokemon.db
databases/gym.db
databases/music.db
